In [1]:
import pandas as pd

df = pd.read_csv('../data/raw/producao_agropecuaria.csv')

df.head()

df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335044 entries, 0 to 335043
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ano                 335044 non-null  int64
 1   estado              335044 non-null  object
 2   produto             335044 non-null  object
 3   producao_toneladas  333397 non-null  float64
 4   unidade             335043 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 12.8+ MB

                 ano  producao_toneladas
count  335044.000000       333397.000000
mean     2011.989798         4998.447698
std         7.206117         2000.718908
min      2000.000000        -4965.130000
25%      2006.000000         3641.360000
50%      2012.000000         5000.280000
75%      2018.000000         6354.390000
max      2024.000000        14348.900000