In [1]:
import pandas as pd

df = pd.read_csv('../data/raw/producao_agropecuaria.csv')

print(df.isnull().sum())

df['producao_toneladas'].fillna(df['producao_toneladas'].mean(), inplace=True)

df['ano'] = df['ano'].astype(int)

df.head()

ano                      0
estado                   0
produto                  0
producao_toneladas    1647
unidade                  1
dtype: int64

/tmp/ipykernel_35039/110758735.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['producao_toneladas'].fillna(df['producao_toneladas'].mean(), inplace=True)

    ano estado produto  producao_toneladas    unidade
0  2023     PE    Soja             6612.11  toneladas
1  2020     AL  Frango             6072.49  toneladas
2  2011     RR   Leite             3999.02  toneladas
3  2003     RO   Milho             4583.16  toneladas
4  2010     PB    Soja             2768.13  toneladas