In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/raw/producao_agropecuaria.csv')

df['log_producao'] = df['producao_toneladas'].apply(lambda x: np.log1p(x))

df.head()

/tmp/ipykernel_36234/2624707283.py:6: RuntimeWarning: invalid value encountered in log1p
  df['log_producao'] = df['producao_toneladas'].apply(lambda x: np.log1p(x))

    ano estado produto  producao_toneladas    unidade  log_producao
0  2023     PE    Soja             6612.11  toneladas      8.796809
1  2020     AL  Frango             6072.49  toneladas      8.711689
2  2011     RR   Leite             3999.02  toneladas      8.294055
3  2003     RO   Milho             4583.16  toneladas      8.430362
4  2010     PB    Soja             2768.13  toneladas      7.926288